
## Test Results for xaviergaray

### Playwright
- Total tests: 53
- Passed tests: 53

### LightHouse

- Performance score: 79
- Accessibility score: 100
- Best practices score: 100
- SEO score: 100
- Average Lighthouse score: 95
