:root {
    --beginCirclePosX: 7vw;
    --beginCirclePosY: 60vh;

    --journeyCirclePosY: 85vh;
    --journeyCirclePosX: 25vw;

    --journeyCircleRad: 5vw;

    --largeCircleRadius:100px;
    --smallCircleRadius:80px;
    --journeyStart: 35vh;
    --journeySpacing: calc(var(--smallCircleRadius) * 2 / 1.6);
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    background: url('../../images/desktop/hero/BACKGROUND_Blackboard.webp') no-repeat center center fixed; 
    background-size: cover; 
    overflow-x: hidden;
    color: #fafafabe;
    font-size: 1em;
}

body {
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #030002af;
    position: absolute;
    top: 0;
    z-index: 100;
    padding: 0.53vw 1.07vw; 
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 1.6vw; 
    box-shadow: 0px 0.53vw 0.53vw rgba(0, 0, 0, 0.8); 
    border-radius: 0.43vw; 
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 0.53vw 2.14vw;
    transition: background-color 0.3s, text-shadow 0.3s, box-shadow 0.3s;
}

.navbar a:hover {
    text-shadow: 0px 0px 0.53vw #fff, 0px 0px 0.27vw #aaa;
}

.navbar a:focus {
    text-shadow: 0px 0px 0.53vw #fff, 0px 0px 0.27vw #aaa;
}

.nav-links-left {
    font-size: 1.21vw;
    font-family: 'Inria Serif', serif;
}

.nav-links-right {
    font-size: 1.93vw;
    font-family: 'Raleway', sans-serif;
}

.main-content {
    position: absolute;
    padding-top: 5%;
    width: 100%;
    margin: auto;
    text-align: center;
}

h1, h2 {
    text-decoration: underline;
    font-family: 'Judson', serif;
    color: #fafafabe;
    font-size: 4em;
}

h2 {
    text-decoration: none;
    font-size: 2em;
}

.columns {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
}

.image-container, .text {
    --ImageWidth: 35vw;
    --ImageHeight: calc(var(--ImageWidth) * 292 / 568 );
    width: var(--ImageWidth); 
    height: var(--ImageHeight); 
}

.image-container {
    --ImageWidth: 35vw;
    --ImageHeight: calc(var(--ImageWidth) * 292 / 568 );
    width: var(--ImageWidth); 
    height: var(--ImageHeight); 
    border: 0.15vw solid rgb(90, 7, 35);
    border-radius: 1vw;
    overflow: hidden;
}

.image-container img {
    max-width: 100%; 
    display: block;
}


.left-column {
    width: 48%;
}

.right-column {
    width: 48%;
}

.unrealProject, .networkingTools, .droneProject {
    padding-bottom: 15%;
}

.text {
    text-align: left;
    margin: 0; 
    padding: 0; 
}

.text h2 {
    font-size: 2vw;
    margin: 0; 
    padding: 0; 
}

.text h3 {
    font-size: 1.5vw; 
    margin: 0; 
    padding: 0; 
}

p {
    margin-top: 5%; 
    font-size: 1.25vw; 
}

.skills {
    font-size: 0.94vw;
}

.rectangleBorder {
    width: 100%;
    height: 1vw; 
    background: #fafafabe;
    position: relative;
    bottom: 0;
    z-index: 200;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

.button {
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 10em;
    height: 3em;
    background-color: #4e123d;
    color: #fff;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 4vw;
    border-radius: 15px;
    line-height: 3em; 
    font-family: 'Cinzel Decorative', sans-serif;
    text-shadow: 2px 2px 4px #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button a {
    text-decoration: none;
    color: #fff;
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.button:hover {
    background-color: #200d35;
}

.rectangle {
    width: 100vw;
    height: 2.71vh; 
    background: radial-gradient(circle at center, #85396f,#3e2d50);
    position: fixed;
    bottom: 0;
    z-index: 200;
}