:root {
    --beginCirclePosX: 7vw;
    --beginCirclePosY: 60vh;

    --journeyCirclePosY: 85vh;
    --journeyCirclePosX: 25vw;

    --journeyCircleRad: 5vw;

    --largeCircleRadius:100px;
    --smallCircleRadius:80px;
    --journeyStart: 35vh;
    --journeySpacing: calc(var(--smallCircleRadius) * 2 / 1.6);
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    background: url('../../images/desktop/hero/BACKGROUND_Blackboard.webp') no-repeat center center fixed; 
    background-size: cover; 
    overflow-x: hidden;
    color: #fafafabe;
    font-size: 1vw;
}

body {
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #030002af;
    position: absolute;
    top: 0;
    z-index: 100;
    padding: 0.53vw 1.07vw; 
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 1.6vw; 
    box-shadow: 0px 0.53vw 0.53vw rgba(0, 0, 0, 0.8); 
    border-radius: 0.43vw; 
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 0.53vw 2.14vw;
    transition: background-color 0.3s, text-shadow 0.3s, box-shadow 0.3s;
}

.navbar a:hover {
    text-shadow: 0px 0px 0.53vw #fff, 0px 0px 0.27vw #aaa;
}

.navbar a:focus {
    text-shadow: 0px 0px 0.53vw #fff, 0px 0px 0.27vw #aaa;
}

.nav-links-left {
    font-size: 1.21vw;
    font-family: 'Inria Serif', serif;
}

.nav-links-right {
    font-size: 1.93vw;
    font-family: 'Raleway', sans-serif;
}

h1, h2 {
    font-family: 'Judson', serif;
    color: #fafafabe;
    font-size: 4vw;
}

h1 {
    text-decoration: underline;
    text-align: center;
    padding-top: 5%;
}

h2 {
    font-size: 2vw;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Define columns, adjust width as needed */
    grid-gap: 20px; /* Adjust the gap between items */
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.iconAndName {
    display: flex;
    align-items: center;
}

.iconAndName i {
    margin-right: 1vw;
    font-size: 3em;
}

p {
    font-size: 1.6em;
}

img {
    width: 3em;
    height: 3em;
    filter: brightness(0.80);
}

.skill:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
    transition: box-shadow 0.3s;
}

.rectangle {
    width: 100vw;
    height: 2.71vh; 
    background: radial-gradient(circle at center, #85396f,#3e2d50);
    position: fixed;
    bottom: 0;
    z-index: 200;
}