:root {
    --beginCirclePosX: 7vw;
    --beginCirclePosY: 60vh;

    --journeyCirclePosY: 85vh;
    --journeyCirclePosX: 25vw;

    --journeyCircleRad: 5vw;

    --largeCircleRadius:100px;
    --smallCircleRadius:80px;
    --journeyStart: 35vh;
    --journeySpacing: calc(var(--smallCircleRadius) * 2 / 1.6);
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    background: url('Images/desktop/hero/BACKGROUND_Blackboard.webp') no-repeat center center fixed; 
    background-size: cover; 
    overflow-x: hidden;
}

body {
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #030002af;
    position: absolute;
    top: 0;
    z-index: 100;
    padding: 0.53vw 1.07vw; 
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 1.6vw; 
    box-shadow: 0px 0.53vw 0.53vw rgba(0, 0, 0, 0.8); 
    border-radius: 0.43vw; 
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 0.53vw 2.14vw;
    transition: background-color 0.3s, text-shadow 0.3s, box-shadow 0.3s;
}

.navbar a:hover {
    text-shadow: 0px 0px 0.53vw #fff, 0px 0px 0.27vw #aaa;
}

.navbar a:focus {
    text-shadow: 0px 0px 0.53vw #fff, 0px 0px 0.27vw #aaa;
}

.nav-links-left {
    font-size: 1.21vw;
    font-family: 'Inria Serif', serif;
}

.nav-links-right {
    font-size: 1.93vw;
    font-family: 'Raleway', sans-serif;
}

.main-content-text {
    padding-top: 9.66vw;
    padding-left: 6.16vw; 
    height: calc(100% - 5.9vw); 
}

.main-content-text .paragraph, .para-title {
    color: #fafafad2;
}

.main-content-text .paragraph {
    font-size: 1.93vw; 
    font-family: 'Roboto', sans-serif;
    width: 40vw;     
    height: 70vh;    
    overflow: auto;
}

.main-content-text .para-title {
    font-size: 3.1vw;
    font-family: 'Judson', serif;
    text-decoration: underline;
}

.circle {
    width: 10vw; 
    height: 10vw; 
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    border: 0.11vw solid #d9d9d9; 
    position: absolute;
    z-index: 100;
    transition: box-shadow 0.3s, filter 0.3s;
    top: var(--journeyCirclePosY);
}

#begin {
    width: 13.38vw; 
    height: 13.38vw; 
    top: var(--beginCirclePosY);
    left: var(--beginCirclePosX);
}

#journey {
    left: 25vw;
    border: 0.2vw solid #500b39;
}

#experience {
    left: 45vw;
    border: 0.2vw solid #500b39;
}

#projects {
    left: 65vw;
    border: 0.2vw solid #500b39;
}

#skills {
    left: 85vw;
    border: 0.2vw solid #500b39;
}

.circle::before {
    content: attr(data-text);
    display: flex;
    justify-content: center;
    align-items: top;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.3vw;
    color: #d9d9d9;
    font-family: 'Inria Serif', serif;
    top: 15%;
}

#begin::before {
    top: 30%;
    font-size: 2.08vw;
}

.circle::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(80, 35, 35, 0.486); /* Adjust the color and opacity as needed */
    border-radius: 50%;
    z-index: -1; /* Place the overlay behind the circle */
}

.circle-container a {
    text-decoration: none; 
    color: inherit; 
    display: inline-block;
}

.circle-container a:hover .circle {
    box-shadow: 0 0 0.8vw 0.11vw rgba(255, 255, 255, 0.8);
    filter: brightness(1.1);
}

.circle-container a:focus .circle {
    box-shadow: 0 0 0.8vw 0.11vw rgba(255, 255, 255, 0.8);
    filter: brightness(1.1);
}

.head-dissolve {
    position: absolute;
    width: 60vw;
    bottom:-11vh;
    left: 50vw;
    z-index: 2;
}

.line {
    top: calc(var(--journeyCirclePosY) + var(--journeyCircleRad) + 0.5vh);
    left: calc(var(--journeyCirclePosX) + 1vw);
    height: 1.5vh;
    width: 60vw;
    background-color: #d9d9d9;
    position: absolute;
    background: linear-gradient(to right, #85396f,#3e2d50);
    z-index: 10;
}

.rectangle {
    width: 100vw;
    height: 2.71vh; 
    background: radial-gradient(circle at center, #85396f,#3e2d50);
    position: fixed;
    bottom: 0;
    z-index: 200;
}
  
@media (max-width: 767px) and (max-height: 915px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #030002af;
        position: absolute;
        top: 0;
        z-index: 100;
        padding: 0.53vw 1.07vw; 
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 1.6vw; 
        box-shadow: 0px 0.53vw 0.53vw rgba(0, 0, 0, 0.8); 
        border-radius: 0.43vw; 
    }
    
    .navbar a {
        color: #fff;
        text-decoration: none;
        padding: 0.53vw 2.14vw;
        transition: background-color 0.3s, text-shadow 0.3s, box-shadow 0.3s;
    }
    
    .navbar a:hover {
        text-shadow: 0px 0px 0.53vw #fff, 0px 0px 0.27vw #aaa;
    }
    
    .nav-links-left {
        font-size: 2vw;
        font-family: 'Inria Serif', serif;
    }
    
    .nav-links-right {
        font-size: 3vw;
        font-family: 'Raleway', sans-serif;
    }

    .main-content-text {
        padding-top: 9.66vw; 
        padding-left: 6.16vw; 
        height: calc(100% - 5.9vw); 
    }

    .main-content-text .paragraph, .para-title {
        color: #fafafad2;
    }

    .main-content-text .paragraph {
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        width: 85vw;     
        height: 70vh;    
        overflow: auto;
    }

    .main-content-text .para-title {
        font-size: 25px;
        font-family: 'Judson', serif;
        text-decoration: underline;
    }

    .circle {
        width: var(--smallCircleRadius); 
        height: var(--smallCircleRadius); 
    }

    .circle::before {
        font-size: 9.5px;
    }
    
    #begin::before {
        font-size: 13px;
    }

    #begin {
        width: var(--largeCircleRadius); 
        height: var(--largeCircleRadius); 
        top: 33vh;
    }

    #journey, #experience, #projects, #skills {
        left: 65vw;
    }

    #journey {
        top: var(--journeyStart);
    }

    #experience {
        top: calc(var(--journeyStart) + var(--journeySpacing));
    }

    #projects {
        top: calc(var(--journeyStart) + var(--journeySpacing)*2);
    }

    #skills {
        top: calc(var(--journeyStart) + var(--journeySpacing)*3);
    }

    .line {
        background:none;
    }

    .head-dissolve {
        bottom: -2vh;
        left: 9vw;
        width: 90vw;
    }
}

@media (max-height: 1180px) and (max-width: 1100px) and (min-width: 767px) and (min-height: 915px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #030002af;
        position: absolute;
        top: 0;
        z-index: 100;
        padding: 0.53vw 1.07vw; 
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 1.6vw; 
        box-shadow: 0px 0.53vw 0.53vw rgba(0, 0, 0, 0.8); 
        border-radius: 0.43vw; 
    }
    
    .navbar a {
        color: #fff;
        text-decoration: none;
        padding: 0.53vw 2.14vw;
        transition: background-color 0.3s, text-shadow 0.3s, box-shadow 0.3s;
    }
    
    .navbar a:hover {
        text-shadow: 0px 0px 0.53vw #fff, 0px 0px 0.27vw #aaa;
    }
    
    .nav-links-left {
        font-size: 2vw;
        font-family: 'Inria Serif', serif;
    }
    
    .nav-links-right {
        font-size: 3vw;
        font-family: 'Raleway', sans-serif;
    }

    .main-content-text {
        padding-top: 9.66vw; 
        padding-left: 6.16vw; 
        height: calc(100% - 5.9vw); 
    }

    .main-content-text .paragraph, .para-title {
        color: #fafafad2;
    }

    .main-content-text .paragraph {
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        width: 85vw;     
        height: 70vh;    
        overflow: auto;
    }

    .main-content-text .para-title {
        font-size: 25px;
        font-family: 'Judson', serif;
        text-decoration: underline;
    }

    #begin {
        top: 18vh;
        height: 150px;
        width: 150px;
    }

    .circle {
        top: 30vh;
        height: 94px;
        width: 94px;
    }

    .line {
        top: 33vh;
    }

    .head-dissolve {
        bottom: -2vh;
        left: 9vw;
        width: 90vw;
    }
}

@media (max-width: 1650px) and (min-height: 1180px) and (min-width: 1100px) {
    .head-dissolve {
        bottom: -2vh;
        left: 9vw;
        width: 90vw;
    }

    #begin {
        top: 10vh;
        left: 67vw;
    }

    .circle {
        top: 26vh;
    }

    .line {
        top: 30.5vh;
    }
}

@media (max-width: 500px) and (max-height: 1000px) and (min-width: 767px) and (min-height: 915px) {       
    .nav-links-left {
        font-size: 2vw;
    }
    
    .nav-links-right {
        font-size: 3vw;
    }
    
    .main-content-text .paragraph {
        font-size: 14px; 
        font-family: 'Roboto', sans-serif;
        width: 85vw;     
        height: 70vh;    
        overflow: auto;
    }
    
    .main-content-text .para-title {
        font-size: 22px;
    }

    .head-dissolve {
        top: 35vh;
        width: 60vh;
    }

    .line {
        display: none;
    }

    #begin {
        width: 125px;
        height: 125px;
        top: 25vh;
    }

    #begin::before {
        font-size: 14px;
    }

    .circle {
        top: 45vh;
        width: 78px;
        height: 78px;
    }

    .circle::before {
        font-size: 8px;
    }

    #journey, #experience, #projects, #skills {
        left: calc(var(--beginCirclePosX) * 1.8);
    }

    #experience {
        top: 55vh;
    }

    #projects {
        top: 65vh;
    }

    #skills {
        top: 75vh;
    }
}

@media (max-width: 1100px) and (max-height: 1600px) and (min-width: 821px) and (min-height: 915px) {       
    .nav-links-left {
        font-size: 2vw;
    }
    
    .nav-links-right {
        font-size: 3vw;
    }
    
    .main-content-text .paragraph {
        font-size: 26px; 
        font-family: 'Roboto', sans-serif;
        width: 85vw;     
        height: 70vh;    
        overflow: auto;
    }
    
    .main-content-text .para-title {
        font-size: 42px;
    }

    .head-dissolve {
        top: 35vh;
        width: 60vh;
    }

    .line {
        display: none;
    }

    #begin {
        width: 250px;
        height: 250px;
        top: 23vh;
    }

    #begin::before {
        font-size: 26px;
    }

    .circle {
        top: 42vh;
        width: 157px;
        height: 157px;
    }

    .circle::before {
        font-size: 17px;
    }

    #journey, #experience, #projects, #skills {
        left: calc(var(--beginCirclePosX) * 1.65);
    }

    #experience {
        top: 55vh;
    }

    #projects {
        top: 68vh;
    }

    #skills {
        top: 81vh;
    }
}