:root {
    --beginCirclePosX: 7vw;
    --beginCirclePosY: 60vh;

    --journeyCirclePosY: 85vh;
    --journeyCirclePosX: 25vw;

    --journeyCircleRad: 5vw;

    --largeCircleRadius:100px;
    --smallCircleRadius:80px;
    --journeyStart: 35vh;
    --journeySpacing: calc(var(--smallCircleRadius) * 2 / 1.6);
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    background: url('Images/desktop/hero/BACKGROUND_Blackboard.webp') no-repeat center center fixed; 
    background-size: cover; 
    overflow-x: hidden;
}

body {
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #030002af;
    position: absolute;
    top: 0;
    z-index: 100;
    padding: 0.53vw 1.07vw; 
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 1.6vw; 
    box-shadow: 0px 0.53vw 0.53vw rgba(0, 0, 0, 0.8); 
    border-radius: 0.43vw; 
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 0.53vw 2.14vw;
    transition: background-color 0.3s, text-shadow 0.3s, box-shadow 0.3s;
}

.navbar a:hover {
    text-shadow: 0px 0px 0.53vw #fff, 0px 0px 0.27vw #aaa;
}

.navbar a:focus {
    text-shadow: 0px 0px 0.53vw #fff, 0px 0px 0.27vw #aaa;
}

.nav-links-left {
    font-size: 1.21vw;
    font-family: 'Inria Serif', serif;
}

.nav-links-right {
    font-size: 1.93vw;
    font-family: 'Raleway', sans-serif;
}

.main-content-text {
    padding-top: 9.66vw;
    padding-left: 6.16vw; 
    height: calc(100% - 5.9vw); 
}

.main-content-text .paragraph, .para-title {
    color: #fafafad2;
}

.main-content-text .paragraph {
    font-size: 1.93vw; 
    font-family: 'Roboto', sans-serif;
    width: 40vw;     
    height: 70vh;    
    overflow: auto;
}

.main-content-text .para-title {
    font-size: 3.1vw;
    font-family: 'Judson', serif;
    text-decoration: underline;
}

.circle {
    width: 10vw; 
    height: 10vw; 
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    border: 0.11vw solid #d9d9d9; 
    position: absolute;
    z-index: 100;
    transition: box-shadow 0.3s, filter 0.3s;
    top: var(--journeyCirclePosY);
}

#begin {
    width: 13.38vw; 
    height: 13.38vw; 
    top: var(--beginCirclePosY);
    left: var(--beginCirclePosX);
}

#journey {
    left: 25vw;
    border: 0.2vw solid #500b39;
}

#experience {
    left: 45vw;
    border: 0.2vw solid #500b39;
}

#projects {
    left: 65vw;
    border: 0.2vw solid #500b39;
}

#skills {
    left: 85vw;
    border: 0.2vw solid #500b39;
}

.circle::before {
    content: attr(data-text);
    display: flex;
    justify-content: center;
    align-items: top;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.3vw;
    color: #d9d9d9;
    font-family: 'Inria Serif', serif;
    top: 15%;
}

#begin::before {
    top: 30%;
    font-size: 2.08vw;
}

.circle::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(80, 35, 35, 0.486); /* Adjust the color and opacity as needed */
    border-radius: 50%;
    z-index: -1; /* Place the overlay behind the circle */
}

.circle-container a {
    text-decoration: none; 
    color: inherit; 
    display: inline-block;
}

.circle-container a:hover .circle {
    box-shadow: 0 0 0.8vw 0.11vw rgba(255, 255, 255, 0.8);
    filter: brightness(1.1);
}

.circle-container a:focus .circle {
    box-shadow: 0 0 0.8vw 0.11vw rgba(255, 255, 255, 0.8);
    filter: brightness(1.1);
}

.head-dissolve {
    position: absolute;
    width: 60vw;
    bottom:-11vh;
    left: 50vw;
    z-index: 2;
}

.line {
    top: calc(var(--journeyCirclePosY) + var(--journeyCircleRad) + 0.5vh);
    left: calc(var(--journeyCirclePosX) + 1vw);
    height: 1.5vh;
    width: 60vw;
    background-color: #d9d9d9;
    position: absolute;
    background: linear-gradient(to right, #85396f,#3e2d50);
    z-index: 10;
}

.rectangle {
    width: 100vw;
    height: 2.71vh; 
    background: radial-gradient(circle at center, #85396f,#3e2d50);
    position: fixed;
    bottom: 0;
    z-index: 200;
}