* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

.overlap {
    position: relative; /* Makes it the reference point for the absolute positioning of the rectangle */
    min-height: 100vh;  /* At least the height of the viewport, but can grow */
}

html,
body {
  margin: 0px;
  height: 100%;
  overflow-x: hidden;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

.nav {
    display: flex; 
    justify-content: space-between;
}

.nav .rectangle-background {
    width: 92vw;        /* Width of the rectangle */
    height: 45px;       /* Height of the rectangle */
    background-color: #d9d9d9;   /* Background color of the rectangle */
    margin-left: 60px;
    margin-top: 45px;

    /* Flexbox properties for centering */
    display: flex;
    align-items: center;     /* Vertically centers content */
}

.nav a {
    position: relative;
    text-decoration: none;
    width: fit-content;
    margin-left: 5vw;
    font-family: "Inria Serif", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 22.5px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

/* If you want to style the hover state of the links: */
.nav a:hover {
    text-decoration: underline; /* Underlines the link when hovered */
}

body {
    background-image: url("images/desktop/hero/RawImages/BACKGROUND_Blackboard.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; /* This will make the background fixed when scrolling */
    height: 100%; 
    margin: 0;
}

.rectangle-footer {
    width: 100vw;          /* Example width, adjust as needed */
    height: 100px;         /* Example height, adjust as needed */
    background-color: #4b3660;
    transform: rotate(185.58deg);
    position: fixed;       /* This keeps it positioned relative to the viewport */
    bottom: 0;             /* Aligns the rectangle to the bottom of the viewport */
    left: 0;               /* Ensures the rectangle starts from the left edge of the viewport */
    right: 0;              /* Ensures the rectangle stretches to the right edge of the viewport */
    transform-origin: center;  /* Ensures the rotation centers on the rectangle */
}

.rectangle-footer {
    width: 150vw; /* Making it wider than the viewport to cover fully after rotation */
    height: 20vh; /* Adjust height as needed */
    background-color: #4b3660;
    position: absolute;
    bottom: 10; /* Adjust based on your visual preference */
    left: -50px;  /* Start from the left edge */
    transform: rotate(5.58deg); /* Slight upward tilt */
    transform-origin: bottom left;
}